@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --red: #d01c28;
  --grey: #2e2e2e;
}

body{
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

nav img{
  height: 72px;
}

nav ul{
  list-style-type: none;
  display: flex;
  gap: 20%;
}

nav ul li:hover{
  color: var(--red);
}

button{
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}


.Hero{
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  height: calc(100vh-72px);
}

.HeroContent{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.Hero .HeroContent h1{
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

.HeroContent p{
  font-weight: 600;
  color: var(--grey);
  max-width: 400px;
}

.HeroBtn{
  display: flex;
  gap: 40px;
}


.SecBtn{
  background: transparent;
  color: var(--grey);
  border: 1px solid var(--grey);
}

